
.searchside {
    width:250px;
    background-color:rgb(235, 202, 149);
}


.searchtoolbar {
    display:flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: stretch;
    background-color:rgb(94, 150, 235);
}

.searchfield {
    font-size:1em;
    color:grey;
}
.toolbar-title{
    font-size:1.2em;
    margin-right:30px;
}

.searchcategories {
    display:flex;
    flex-direction: column;
    flex-flow: column wrap;
    align-items: stretch;
}

mat-toolbar {
    background-color:rgb(208, 227, 255);
}