.figuretitle {
    font-size:1em;
}

.caption {
    font-size:1.0em;
    color:red;
}

.figure-card {
    width:500px;
    background-color: dimgray;
}

ol {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}