.toolbar {
    height: 110px;
    padding-top:10px;
    //margin: -8px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-image: linear-gradient(to top left, rgb(23, 51, 104), rgb(94, 150, 235));
    color: white;
    font-weight: 600;
    width:100vw;
  }

  .tooltip-blue {
    background-color:rgb(243, 174, 26);
    color:black;
  }